@model De2_AI_Agent.Models.RecoomendSuperclass
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form class="form-horizontal">
    <div class="row">

        <div class="col-md-10">
            <table>
                @foreach (var item in Model.studentAccomodations)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.location</td>
                        <td>@item.IncomeGroup</td>
                    </tr>
                }
            </table>

        </div>
        <div class="col-md-2">
            <div class="form-group" >
                <input type="text" id="incomegroup"/>
            </div>

            <div class="form-group" >
                <input type="text" id="area"/>
            </div>

            <div class="form-group">
                <button type="button" id="submit">Go</button>
            </div>
        </div>
    </div>
</form>

<script>

    $(document).ready(function () {

        $("#submit").click(function () {
            var areas = $("#area").val();
            var incomegroup = $("#incomegroup").val();

            console.log("area", areas);
            console.log("icnom stream", incomegroup);
            
            $.ajax({
                type: 'POST',
                url: "/Recommend/Index",
                data: { income: $("#incomegroup").val(), area: $("#area").val() },
                cache: false,
                success: function (data) {
                        console.log("response", data);
                    },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error response", textStatus);
                    }

            });
        });

    });


</script>